<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lsc_lidarSensor">

<xacro:property name="width" value="0.4"/>
<xacro:property name="height" value="0.6"/>
<xacro:property name="mess" value="0.1"/>

    <!-- <link name="base_link">
        <inertial>
            <<origin xyz="0.0 0.0 0.0"/> -->

<xacro:macro name="lsc_laserSensor">
    <link name="${name}_base_link">
      <visual>
        <geometry>
          <mesh filename="package://sick_scan/meshes/LMS5xx_small.dae" />
        </geometry>
        <material name="blue" >
          <color rgba="0 0 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://sick_scan/meshes/LMS5xx_collision.stl" />
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}" />
        <origin xyz="${x_offset} 0 ${z_offset}" />
        <inertia ixx="${0.0833333 * mass * (width * width + height * height)}" ixy="0.0" ixz="0.0"
          iyy="${0.0833333 * mass * (length * length + height * height)}" iyz="0.0"
          izz="${0.0833333 * mass * (length * length + width * width)}" />
      </inertial>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${name}_mount_link" />
      <child link="${name}_laser" />
      <origin rpy="0 0 0" xyz="0.093 0 -0.089"/>
    </joint>

    <link name="${name}_laser">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0" izz="0.000001" />
      </inertial>
    </link>
